Binaries
DerivedDataCache
Intermediate
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
HungerGameTrials/Content/Dynamic/Levels/FirstPersonExampleMap_BuiltData.uasset
HungerGameTrials/Saved/AutoScreenshot.png
HungerGameTrials/Saved/Autosaves/
HungerGameTrials/Saved/Backup/
HungerGameTrials/Saved/Config/
HungerGameTrials/Saved/Crashes/
HungerGameTrials/Saved/Logs/
HungerGameTrials/Saved/EditorCooked/
